{% extends "adminBase.html" %} {% block content %}
<!--//header-w3l-->
<!--/w3l-inner-page-breadcrumb-->
<style>
	
</style>
<section class="w3l-inner-page-breadcrumb">
	<div class="breadcrumb-bg py-5">
		<div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
			<h2 class="title pt-5">Detections</h2>
		</div>
	</div>
</section>
<!-- //w3l-inner-page-breadcrumb-->
<!-- /contact-section -->
<div class="w3l-contact-10" id="contact">
	<div class="form-41-mian py-lg-5 py-md-4 py-2">
		<div class="container-fluid">
			<form action="" method="post">
				{% csrf_token %}
				<input type="search" name="search" class="form-control" style="display: inline; width: 250px;" placeholder="Search here.." id="">
				<input type="submit" value="Filter" class="btn btn-primary">
			</form>
			<div class="header-title text-center mx-auto">
				<h6 class="title-subhny mb-1"></h6>
				<!-- <h3 class="title-w3l">Requested StartUp</h3> -->
				<table class="table table-striped table-hover">
					<tr>
						<th>Sl/No</th>
						<th>Date</th>
						<th>User</th>
						<th>Title</th>
						<th>Description</th>
						<th>Image</th>
						<th>Result</th>
					</tr>
					{% for d in data %}
					<tr>
						<td>{{forloop.counter}}</td>
						<td>{{d.date}}</td>
						<td>{{d.user.name}}</td>
						<td>{{d.post.idea}}</td>
						<td>{{d.post.desc}}</td>
						<td><img src="/static/media/{{d.post.image}}" width="200" alt=""></td>
						<td>{{d.results}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<!-- //contacts-5-grid -->
	</div>
</div>

<!-- //contact-section -->
<!-- footer -->
{% endblock %}
