{% extends "sfBase.html" %} {% block content %}
<!--//header-w3l-->
<!--/w3l-inner-page-breadcrumb-->
<style>
	.ideaContent p {
		text-align: justify;
	}
	.ideaContent h4 {
		margin-top: 20px;
		text-align: center;
	}
	.idea {
		border-bottom: 1px dotted brown;
		padding: 20px 0;
	}
</style>
<section class="w3l-inner-page-breadcrumb">
	<div class="breadcrumb-bg py-5">
		<div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
			<h2 class="title pt-5"></h2>
		</div>
	</div>
</section>
<!-- //w3l-inner-page-breadcrumb-->
<!-- /contact-section -->
<div class="w3l-contact-10" id="contact">
	<div class="form-41-mian py-lg-5 py-md-4 py-2">
		<div class="container">
			<div class="header-title text-center mx-auto">
				<h3 class="title-w3l">Posts</h3>
			</div>
			<div class="contacts-5-grid-main mt-4">
				<div class="form-inner-cont">
					{% for d in data %}
					<div class="idea container">
						<div class="useridea d-flex">
							<div class="">
								<em>{{d.date}}</em>
							</div>
						</div>
						<div class="ideaContent container">
							<h4>{{d.idea}}:</h4>
							<div class="text-center">
								<img src="/static/media/{{d.image}}" width="400" style="margin: auto;" alt="">
							</div>
							<p class="line-clamp">{{d.desc}}</p>
							<a href="{{d.url}}">{{d.url}}</a>
						</div>
						<br /><br />
						<div class="icons text-center">
							<a href="/sfDeleteIdea?id={{d.id}}"
								><svg
									xmlns="http://www.w3.org/2000/svg"
									width="26"
									height="26"
									fill="currentColor"
									class="bi bi-trash3 text-danger mt-2"
									viewBox="0 0 16 16"
								>
									<path
										d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
									/>
								</svg>
							</a>
							<a href="/sfUpdateIdea?id={{d.id}}"
								><svg
									xmlns="http://www.w3.org/2000/svg"
									width="26"
									height="26"
									fill="currentColor"
									class="bi bi-pencil-square text-success"
									viewBox="0 0 16 16"
								>
									<path
										d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
									/>
									<path
										fill-rule="evenodd"
										d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
									/>
								</svg>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- //contacts-5-grid -->
	</div>
</div>

<!-- //contact-section -->
<!-- footer -->
{% endblock %}
